                                                    ASSIGNMENT 2 (Pandas)
                    NAME: VANSHAJ SINGLA               ROLL NO: 102003346                         GROUP: CO14

In [18]:
import pandas as pd
sal=pd.read_csv('Salaries.csv')

C:\Users\vansh\AppData\Local\Temp\ipykernel_18708\1060116261.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal=pd.read_csv('Salaries.csv')

In [19]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [20]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148646 entries, 0 to 148645
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148646 non-null  int64
 1   EmployeeName      148646 non-null  object
 2   JobTitle          148646 non-null  object
 3   BasePay           148041 non-null  float64
 4   OvertimePay       148646 non-null  float64
 5   OtherPay          148646 non-null  float64
 6   Benefits          112487 non-null  float64
 7   TotalPay          148646 non-null  float64
 8   TotalPayBenefits  148646 non-null  float64
 9   Year              148646 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148646 non-null  object
 12  Status            38115 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [22]:
sal['BasePay'].mean()

66327.2409237306

In [23]:
sal['OvertimePay'].max()

245131.88

In [24]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [25]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [29]:
print(sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName'])
##ALITER
print('ALITER')
ind = sal['TotalPayBenefits'].idxmax()
sal.loc[ind]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object
ALITER

'NATHANIEL FORD'

In [30]:
print(sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName'])
##ALITER
print('ALITER')
ind = sal['TotalPayBenefits'].idxmin()
sal.loc[ind]['EmployeeName']

110530    David P Kucia
Name: EmployeeName, dtype: object
ALITER

'David P Kucia'

In [33]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66571.407565
Name: BasePay, dtype: float64

In [40]:
print('total unique job titles = ',sal['JobTitle'].nunique())
sal['JobTitle'].unique()

total unique job titles =  2158

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ...,
       'Forensic Toxicologist Supervis', 'Conversion', 'Cashier 3'],
      dtype=object)

In [44]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [47]:
print('No. of Job Titles were represented by only one person in 2013 = ',(sal[sal['Year']==2013]['JobTitle'].value_counts()==1).sum())

No. of Job Titles were represented by only one person in 2013 =  202

In [50]:
print('No. of people having the word Chief in their job title = ',sal['JobTitle'].apply(lambda str:('chief' in str.lower())).sum())

No. of people having the word Chief in their job title =  627

In [51]:
sal['title_len'] = sal['JobTitle'].str.len()
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036929
TotalPayBenefits  -0.036929          1.000000